* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: black;
}

.container {
    margin: 50px auto;
    width: 800px;
    height: 600px;
    display: flex;
    padding: 20px;
}

.nav{
    width: 20%;
    height: 100%;
    background-color: pink;
}

.container-main {
    width: 100%;
    height: 100%;
}

.header, .footer{
    width: 100%;
    height: 20%;
    background-color: yellow;
}

.container-article {
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
}
.article {
    width: 80%;
    height: 100%;
    background-color: #fff;
}

.aside {
    width: 40%;
    height: 100%;
    background-color: aqua;
}