* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 400px;
}

.container {
    width: 800px;
    height: hidden;
    margin: 0 auto;
    margin-top: 10%;
    padding: 6px;
}

.first-row {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
}

.first-row .box {
    border: 4px solid #000;
    height: 200px;
    overflow: hidden;
    width: hidden;
}

.first-row .box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.second-row {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.second-row .box {
    border: 4px solid #000;
    height: 150px;
    width: 200px;
    overflow: hidden;
}

.second-row .box img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}