* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  margin: auto;
  display: flex;
  background-color: rgb(239, 183, 111);
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-logo a {
  margin-left: 1em;
  font-size: 36px;
  align-content: center;
}

.nav-list ul {
  margin-left: 5em;
  display: flex;
  list-style-type: none;
  gap: 2em;
}

main {
  margin-top: 5%;
  margin-left: 15em;
  margin-right: 15em;
}
.main-order {
  display: flex;
  gap: 10px;
}
.main-order-list {
  flex-wrap: nowrap;
  line-height: 10px;
}

.customer {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.customer-title {
  line-height: 14px;
}
.customer-adress {
  word-wrap: break-word;
  inline-size: 180px;
  line-height: 14px;
}

.hr-menus {
  margin-left: -2px;
  width: 500px;
}
aside {
  float: right;
  margin-right: 10%;
  margin-top: -37%;
}
.hr-tabel {
  border: 1px solid #fff;
}

table {
  background-color: #e5e5e5;
  width: 300px;
  height: 278px;
}
tbody {
  line-height: 14px;
}
th {
  text-align: left;
}
td {
  text-align: right;
}
button {
  border: none;
  padding: 3px 19px;
  background-color: rgb(180, 179, 179);
  color: white;
}

footer {
  background-color: rgb(239, 183, 111);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20%;
}

footer ul {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;
}

footer p {
  text-align: center;
}
