* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background-color: salmon;
    margin: 10% auto;
    padding: 20px 20px;
    width: 800px;
    height: 800px;
}

h1 {
    text-align: center;
}

.header {
    width: 100%;
    height: 120px;
    background-color: turquoise;
    margin-bottom: 20px;
}

.container-main {
    display: flex;
    height: 100%;
    width: 100%; 
}

.nav {
    width: 20%;
    height: 60%;
    margin-right: 20px;
    background-color: rgb(44, 235, 209);
}

.aside{
    width: 640px;
    height: 60%;
    background-color: rgb(142, 101, 238);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box {
    width: hidden;
    height: hidden;
    margin: 4px;
    padding: 10px;
}

.box img {
    border: 2px solid #ddd;
    border-radius: 20px;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.footer {
    margin-top: -38%;
    width: 100%;
    height: 120px;
    background-color: turquoise;
}